.container {
  width: min(100% - 2rem, var(--max-container-width));
  margin: 0 auto;
}

.container--reveal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10000;
}

.container--reveal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform-origin: top;
  background-color: black;
  animation: reveal 0.5s 0.85s cubic-bezier(0.83, 0, 0.17, 1) forwards;
}
