nav.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  padding: calc(var(--layout-spacing) * 0.5) calc(var(--layout-spacing));
}

nav.header .logo {
  flex: 1;
}

.header__links {
  --_pixel-value: 50;
  grid-column: 4 / span 2;
  justify-self: end;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--_pixel-value) / 16 * 1rem);
}

.header__link span.outer {
  --scale-x: 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.header__link span.outer::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--clr-text-primary);
  transform: scaleX(var(--scale-x));
  transform-origin: left;
  transition: transform 0.5s cubic-bezier(0.85, 0, 0.15, 1);
}

.header__link span.outer:has(a:hover),
.header__link span.outer:has(a:focus) {
  --scale-x: 1;
}

.header__link a {
  display: inline-block;
  color: var(--clr-text-primary);
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 300;
  animation: fadeIn 0.5s cubic-bezier(0.85, 0, 0.15, 1) backwards;
}

.header__link a span {
  display: inline-block;
  color: var(--clr-text-primary);
  transition: transform 0.5s cubic-bezier(0.85, 0, 0.15, 1);
  position: relative;
  vertical-align: middle;
}

.header__link a span.inner {
  position: relative;
}

.header__link a:hover span.inner,
.header__link a:focus span.inner {
  transform: translateY(calc(-100% - 1px));
}

.header__link a:hover span.inner::after,
.header__link a:focus span.inner::after {
  transform: translateY(0);
}

.header__link a span.inner::after {
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
}

.header__link:nth-of-type(1) a span.inner::after {
  content: "HOME";
}

.header__link:nth-of-type(2) a span.inner::after {
  content: "ABOUT";
}

.header__link:nth-of-type(3) a span.inner::after {
  content: "SHOP";
}

.header__link:nth-of-type(4) a span.inner::after {
  content: "CONTACT";
}

.header__link:nth-of-type(1) a {
  animation-delay: 1.5s;
}

.header__link:nth-of-type(2) a {
  animation-delay: 1.55s;
}

.header__link:nth-of-type(3) a {
  animation-delay: 1.6s;
}

.header__link:nth-of-type(4) a {
  animation-delay: 1.65s;
}

.header__link .menu__toggle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 0;
  gap: 0.25rem;
  z-index: 500;
}

.header__link .menu__toggle .line {
  width: 1.5rem;
  height: 1px;
  background-color: var(--clr-text-primary);
  transform-origin: left;
  animation: revealLine 0.5s 1.75s cubic-bezier(0.85, 0, 0.15, 1) backwards;
}

.header__link .menu__toggle .line:last-of-type {
  width: 1rem;
  transition: transform 0.5s cubic-bezier(0.85, 0, 0.15, 1);
}

.header__link .menu__toggle:hover .line:last-of-type {
  transform: scaleX(1.5);
}

.header__link .menu__toggle .line:last-of-type {
  animation-delay: 1.8s;
}

.header__link label:hover {
  cursor: pointer;
}

.header__link input:focus + label {
  outline: 1px dotted red;
}

.header__link #menu-toggle {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.header__link .menu__toggle {
  position: relative;
  z-index: 600;
}

.header__link .menu__container {
  position: fixed;
  right: 0;
  top: 0;
  transform-origin: top;
  transition: transform 0.7s cubic-bezier(0.83, 0, 0.17, 1);
  width: 100vw;
  height: min(100%, var(--max-menu-height));
  background-color: var(--clr-brand-primary);
  z-index: 500;
  transform: translateY(-100%);
}

.header__link #menu-toggle:checked ~ .menu__container {
  transform: translateY(0);
}

/* .header__link #menu-toggle:checked ~ .menu__toggle svg path:nth-of-type(1) {
  transform: rotate(45deg);
} */

.cart {
  grid-column: 6 / -1;
  align-self: center;
  justify-self: end;
  overflow: hidden;
}

/* adding focus state to labels since they are not there by default. */
.cart input:focus + label {
  outline: 1px dotted red;
}

.cart__toggle {
  position: relative;
  display: inline-block;
  overflow: hidden;
  z-index: 500;
  font-size: 0.85rem;
  font-weight: 300;
  color: var(--clr-text-primary);
  animation: fadeIn 0.5s 1.8s cubic-bezier(0.85, 0, 0.15, 1) backwards;
}

.cart__toggle span {
}

.cart__toggle:hover {
  cursor: pointer;
}

#cart-toggle {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.cart__container {
  position: fixed;
  right: 0;
  top: 0;
  transform-origin: right;
  transition: transform 0.7s cubic-bezier(0.83, 0, 0.17, 1);
  width: min(100%, var(--max-cart-width));
  height: 100vh;
  background-color: var(--clr-brand-primary);
  z-index: 400;
  transform: translateX(110%);
}

#cart-toggle:checked ~ .cart__container {
  transform: translateX(0);
}
