.skip-links {
  list-style: none;
}

.skip-link__item a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  text-decoration: none;
  transform: translateY(-100%);
  transition: transform 0.3s cubic-bezier(0.03, 0.67, 0.27, 1.44);
  z-index: 10000;
  color: black;
  background-color: white;
  padding: 1rem;
}

.skip-link__item a:focus {
  transform: translateY(0);
}

/* HEADER WITH POSITION ABSOLUTE SO IT STAYS AT THE TOP OF THE PAGE */
nav.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  padding: calc(var(--layout-spacing) * 0.5) calc(var(--layout-spacing));
}

nav.header .logo {
  position: relative;
  z-index: 1000;
  color: white;
  flex: 1;
  font-size: 1.15rem;
  display: flex;
  transform: translateY(0.25rem);
}

nav.header .logo {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

nav.header .logo span {
  font-weight: 100;
}

.header__links {
  /* PIXEL VALUE OF THE LINK FROM FIGMA */
  --_pixel-value: 50;
  grid-column: 4 / span 2;
  justify-self: end;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* CONVERTING THE PIXEL VALUE TO REM */
  gap: calc(var(--_pixel-value) / 16 * 1rem);
}

.header__link span.outer {
  /* DEFAULT SCALE VALUE FOR THE LINK UNDERLINE THAT THE AFTERPSEUDO ELEMENT WILL INHERIT */
  --scale-x: 0;
  display: inline-block;
  position: relative;
  /* SETTING OVERFLOW HIDDEN SO IT HIDES ANYTHING OUT OF VIEW */
  overflow: hidden;
}

/* SETUP FOR THE ANIMATED TEXT UNDERLINE */
.header__link span.outer::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--clr-text-primary);
  transform: scaleX(var(--scale-x));
  transform-origin: left;
  transition: transform 0.5s cubic-bezier(0.85, 0, 0.15, 1);
}

.header__link span.outer:has(a:hover),
.header__link span.outer:has(a:focus-visible) {
  /* SCALE TO 1 (100%) WHEN THE SPAN HAS A CHILD LINK WITH A STATE OF HOVER */
  /* I USED FOCUS VISIBLE BECAUSE THE BEHAVIOUR WAS JANKY WITH JUST FOCUS(BECAUSE THAT ALSO TRIGGERS WITH THE MOUSE AND NOT JUST TAB) */
  --scale-x: 1;
}

/* SHARED STYLES FOR THE HEADER LINK WRAPPERS AND THE MOBILE MENU WRAPPER */
.header__link,
.mobile__menu {
  text-decoration: none;
  color: var(--clr-text-primary);
  font-size: 0.85rem;
  font-weight: 300;
}

/* SETTING HEADER LINK TO INLINE BLOCK SO THAT THE TRANSLATE ON THE SLIDE IN ANIMATION WORKS */
.header__link a {
  display: inline-block;
  /* SLIDE IN ANIMATION WHEN THE PAGE LOADS */
  animation: slideIn 0.5s cubic-bezier(0.85, 0, 0.15, 1) backwards;
}

.header__link a span {
  display: inline-block;
  color: var(--clr-text-primary);
  transition: transform 0.5s cubic-bezier(0.85, 0, 0.15, 1);
  position: relative;
  vertical-align: middle;
}

/* SET THE SPAN.INNER AS THE RELATIVE CONTAINER FOR THE TRANSFORMS OF THE AFTER PSEUDO ELEMENT */
.header__link a span.inner {
  position: relative;
}

/* TRANSLATE LINK TEXT OUT OF VIEW ON HOVER - +1px BECAUSE SOMETIMES DEPENDING ON WHAT LETTERS ARE IN THE LINK, PART OF THE TEXT WAS STILL DISPLAYED  */
.header__link a:hover span.inner,
.header__link a:focus-visible span.inner {
  transform: translateY(calc(-100% - 1px));
}

/* TRANSLATE LINK AFTER PSEUDO ELEMENT INTO VIEW ON HOVER  */
.header__link a:hover span.inner::after,
.header__link a:focus-visible span.inner::after {
  transform: translateY(0);
}

/* SETTING THE INITIAL POSITION OF THE AFTER PSEUDO ELEMENT TO BE JUST BELOW THE LINK */
.header__link a span.inner::after {
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
}

/* SETTING THE TEXT CONTENT FOR THE LINKS AFTER PSEUDO ELEMENTS */

.header__link:nth-of-type(1) a span.inner::after {
  content: "HOME";
}

.header__link:nth-of-type(2) a span.inner::after {
  content: "SHOP";
}

.header__link:nth-of-type(3) a span.inner::after {
  content: "CONTACT";
}

/* SETTING ANIMATION DELAY FOR EACH LINK SO IT STARTS AFTER THE PAGE COVER ANIMATION IS DONE */
/* ADDING A .05s DIFFERENCE BETWEEN EACH ITEM SO THEY ARE STAGGERED */

.header__link:nth-of-type(1) a {
  animation-delay: 1.5s;
}

.header__link:nth-of-type(2) a {
  animation-delay: 1.55s;
}

.header__link:nth-of-type(3) a {
  animation-delay: 1.6s;
}

.header__link:nth-of-type(4) a {
  animation-delay: 1.65s;
}

.mobile__menu .menu__toggle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 0;
  gap: 0.25rem;
  margin-left: 1rem;
  z-index: 500;
}

/* STYLES FOR THE SPANS THAT REPRESENT THE MOBILE MENU */

.mobile__menu .menu__toggle .line {
  width: 1.5rem;
  height: 1px;
  background-color: var(--clr-text-primary);
  transform-origin: left;
  /* A REVEAL ANIMATION FOR THE LINES WITH A DELAY SO IT STARTS AFTER THE PAGE REVEAL AND A LITTLE AFTER THE LINKS REVEAL ANIMATION STARTS */
  animation: revealLine 0.5s 1.75s cubic-bezier(0.85, 0, 0.15, 1) backwards;
  transition: transform 0.5s cubic-bezier(0.85, 0, 0.15, 1);
}

/* SETTING THE LAST (SECOND) SPAN TO BE SHORTER THAN THE FIRST */

.mobile__menu .menu__toggle .line:last-of-type {
  width: 1rem;
}

/* SCALING THE WIDTH OF THE SPAN TO BE 1REM FROM 1.5REM */
/* TYPICALLY USE SCALE INSTEAD OF WIDTH BECAUSE OF PERFORMANCE ISSUES AND LAYOUT SHIFT ISSUES */
/* THOSE ISSUES ARE IRRELEVANT IN THIS CASE BECUASE ITS SUCH A SMALL DETAIL BUT I STILL STUCK WITH IT */

.mobile__menu .menu__toggle:hover .line:first-of-type {
  transform: scaleX(0.66666);
}

.mobile__menu .menu__toggle:hover .line:last-of-type {
  transform: scaleX(1.5);
}

/* AN ADDITIONAL DELAY OF .05 TO CREATE A STAGGER EFFECT BETWEEN THE TWO SPANS */
.mobile__menu .menu__toggle .line:last-of-type {
  animation-delay: 1.8s;
}

/* CURSOR POINTER ON HOVER FOR THE LABEL */
.mobile__menu label:hover {
  cursor: pointer;
}

/* SINCE THE FOCUS APPLIES TO THE INPUT WHEN TABBED ON, THIS WAS THE ONLY WAY I COULD THINK OF TO ADD A FOCUS STATE TO THE LABEL ITSELF */
.mobile__menu input:focus-visible + label {
  outline: 2px dotted red;
}

/* HIDING THE CHECKBOX BEHIND THE LABEL BY POSITIONING IT ABSOLUTELY */
/* I USED OPACITY INSTEAD OF DISPLAY:NONE OR VISIBILITY:HIDDEN BECAUSE I WANTED TO STILL HAVE FOCUS STATES ON THE CHECKBOX ITSELF TO MAKE THE MENU KEYBOARD ACCESSIBLE */
.mobile__menu #menu-toggle {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/* MAKING SURE THAT THE MENU TOGGLE APPEARS ON THE TOP OF THE OFF-CANVAS MENU */
.mobile__menu .menu__toggle {
  position: relative;
  z-index: 600;
}

.mobile__menu .menu__container {
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: top;
  transition: transform 0.7s cubic-bezier(0.83, 0, 0.17, 1);
  width: 100vw;
  background-color: var(--clr-brand-primary);
  z-index: 500;
  /* TAKING THE MENU OFF-CANVAS */
  transform: translateY(-100%);

  padding: 6rem 4rem;
  /* REDEFINING GRID SIZE AND GAP SIZE */
  --_grid-size: 12;
  --_grid-gap: 1rem;
  grid-template-areas: ". . . . . . .  links links extended-links extended-links .";
}

/* BRINGING THE MENU BACK INTO VIEW WHEN THE MENU TOGGLE IS CHECKED */
.mobile__menu #menu-toggle:checked ~ .menu__container {
  transform: translateY(0);
}

/* OVERFLOW HIDDEN SO THAT ANY CHILD ELEMENT OUT OF VIEW IS HIDDEN */
.menu__container nav ul li {
  overflow: hidden;
  padding: 0.15rem;
}

/* MAKING THE SPAN IN THE LINK INLINE BLOCK SO TRANSLATE ANIMATIONS CAN WORK */
.menu__container nav ul li a {
  display: inline-block;
}

.menu__container nav ul li a:hover span,
.menu__container nav ul li a:focus-visible span {
  text-decoration: underline;
}

/* CHECK IF THE MENU IS TOGGLED THEN ANIMATE IN THE LINKS */
.mobile__menu #menu-toggle:checked ~ .menu__container nav ul li a {
  animation: slideIn 0.5s var(--_delay, 0.75s) cubic-bezier(0.85, 0, 0.15, 1)
    backwards;
}
/* DELAY FOR ALL THE LINKS TO ADD A STAGGERED EFFECT */
.menu__container nav ul li:nth-of-type(1) a {
  --_delay: 0.75s;
}

.menu__container nav ul li:nth-of-type(2) a {
  --_delay: 0.8s;
}

.menu__container nav ul li:nth-of-type(3) a {
  --_delay: 0.85s;
}

.menu__container nav ul li:nth-of-type(4) a {
  --_delay: 0.9s;
}

/* CHECK IF THE MENU IS OPEN THE FADE IN THE GROUPED LINKS */

.mobile__menu #menu-toggle:checked ~ .menu__container .group ul {
  animation: fadeIn 0.5s var(--_delay, 0.75s) cubic-bezier(0.85, 0, 0.15, 1)
    backwards;
}

/* ADD STAGGERED EFFECT TO GROUPED LINKS */
.menu__container .group:nth-of-type(1) ul {
  --_delay: 1.3s;
}

.menu__container .group:nth-of-type(2) ul {
  --_delay: 1.35s;
}

.menu__container .group:nth-of-type(3) ul {
  --_delay: 1.4s;
}

.menu__container nav {
  grid-area: links;
}

.menu__container nav ul li a:hover {
  text-decoration: underline;
}

.menu__container nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu__container nav ul li {
  font-size: 1.5rem;
  list-style: none;
}

.menu__container nav ul li a {
  overflow: hidden;
}

/* STYLING FOR MY EXTENDED LINKS ON THE OFF-CANVAS-MENU */
.extended-links {
  grid-area: extended-links;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.group ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .header__links--desktop {
    display: none;
  }

  .mobile__menu {
    grid-column: -1;
  }
}

@media (max-width: 1024px) {
  .mobile__menu .menu__container {
    --_grid-gap: 3rem;
    grid-template-areas:
      "links links links links links links links links links links links links"
      "extended-links extended-links extended-links extended-links extended-links extended-links extended-links extended-links extended-links extended-links extended-links extended-links";
  }
}
