:root {
  --clr-background: #1e1e1e;
  --clr-brand-primary: #1e1e1e;
  --clr-text-primary: #fff;
  --layout-spacing: 2rem;
  --max-container-width: 1200px;
  --max-cart-width: 250px;
  --max-menu-height: 450px;
}
