@import "../abstract/variables.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-background);
  font-family: "Inter", sans-serif;
  overscroll-behavior: none;x2
}

img {
  width: 100%;
  margin-bottom: 20rem;
}
