/* ADDING MARGIN TOP TO ALL PARAGRAPHS PRECEEDED BY A PARAGRAPH  */

p + p {
  margin-top: calc(var(--layout-spacing) * 0.25);
}

/* STYLING LINKS WITH A DATA ATTRIBUTE - DATA-TYPE WITH A VALUE OF INTERNAL - (MOSTLY THE CTAS ON MY HOME PAGE)  */

p + a[data-type="internal"] {
  margin-top: calc(var(--layout-spacing) * 0.25);
  display: inline-block;
  color: var(--clr-text-primary);
  text-decoration: none;
}

h2 {
  font-size: 1rem;
  margin-bottom: calc(var(--layout-spacing) * 0.15);
  font-weight: 500;
}
