section.hero {
  position: relative;
}

.hero__content {
  position: absolute;
  top: 45%;
  left: 50%;
  width: min(100%, var(--max-container-width));
  transform: translate(-50%, -50%);
  z-index: 100;
  color: var(--clr-text-primary);
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__content h1 {
  font-size: 6rem;
  font-weight: 700;
  color: var(--clr-text-primary);
  margin-bottom: 0.5rem;
  display: block;
  overflow: hidden;
}

/* HANDLING THE STAGGERED ANIMATION FOR EACH LETTER - LUCKILY CALC & CUSTOM PROPERTIES MAKE THIS A LITTLE EASIER */

.hero__content h1 span {
  --initial-delay: 1.8s;
  --index: 1;
  --additional-delay: calc(var(--initial-delay) + (var(--index) * 0.025s));
  display: inline-block;
  animation: slideIn 0.5s var(--additional-delay) cubic-bezier(0.85, 0, 0.15, 1)
    backwards;
}

/* APPLYING THE INDEX REQUIRED FOR THE CALCULATION TO EACH SPAN ELEMENT */

.hero__content h1 span:nth-of-type(1) {
  --index: 1;
}
.hero__content h1 span:nth-of-type(2) {
  --index: 2;
}
.hero__content h1 span:nth-of-type(3) {
  --index: 3;
}
.hero__content h1 span:nth-of-type(4) {
  --index: 4;
}
.hero__content h1 span:nth-of-type(5) {
  --index: 5;
}
.hero__content h1 span:nth-of-type(6) {
  --index: 6;
}
.hero__content h1 span:nth-of-type(7) {
  --index: 7;
}
.hero__content h1 span:nth-of-type(8) {
  --index: 8;
}
.hero__content h1 span:nth-of-type(9) {
  --index: 9;
}
.hero__content h1 span:nth-of-type(10) {
  --index: 10;
}
.hero__content h1 span:nth-of-type(11) {
  --index: 11;
}
.hero__content h1 span:nth-of-type(12) {
  --index: 12;
}

.hero__content p {
  overflow: hidden;
}

/* REUSING THE SLIDE IN ANIMATION ON THE PARAGRAPH */

.hero__content p span {
  --initial-delay: 2.5s;
  --additional-delay: calc(var(--initial-delay) + 0.025s);
  display: inline-block;
  animation: slideIn 0.5s var(--additional-delay) cubic-bezier(0.85, 0, 0.15, 1)
    backwards;
}

.util--light {
  font-weight: 100;
}

/* IMAGE WRAPPER WITH AN ASPECT RATIO OF 16/9 */
section.hero .hero__image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}

/* HERO WRAPPER WITH REDUCED BRIGHTNESS TO MAKE THE NAVIGATION LINKS TEXT MORE VISIBLE */
section.hero .hero__image-wrapper picture {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* ZOOM OUT ANIMATION ON IMAGE THAT STARTS AFTER THE PAGE COVER ANIMATION IS DONE */
  animation: zoomOut 1s 1.75s cubic-bezier(0.85, 0, 0.15, 1) backwards;
}

section.hero .hero__image-wrapper {
  filter: brightness(0.5);
}

section.image-cards {
  gap: 2rem;
  /* SETTING MAX WIDTH TO THE MAX CONTAINER WIDTH CSS PROPERTY AND IDEAL WIDTH TO BE 100% OF THE CONTAINER - 2REM(I DO THIS WHEN I WANT CONSISTENT SPACING ON THE SIDES FOR EVERYTHING WHEN ITS ON MOBILE - THAT WAY I WRITE LESS MEDIA QUERIES) */
  width: min(
    100% - calc(var(--layout-spacing) * 2),
    var(--max-container-width)
  );
  margin: var(--layout-spacing) auto;
}

div.image-container {
  position: relative;
  grid-column: span 2;
  /* SETTING THE ASPECT RATIO OF THE IMAGE CONTAINER */
  aspect-ratio: 3/4;
  overflow: hidden;
}

/* SETTING THIS CONTAINER TO BE OUT OF VIEW BY DEFAULT BY SETTING THE TRANSLATE PROGRESS TO 100% */
/* FOR TRANSLATE PROGRESS - 0 WOULD BE IN VIEW AND 1 WOULD BE TRANSLATEY(100%) */
/* FOR ZOOM PROGRESS - 1 WOULD BE SCALE(1) AND 1.1 WOULD BE SCALE(1.1) */
div.image-container .image:first-of-type {
  --_translateProgress: 1;
  --_zoomProgress: 1;
  top: 0;
  transform-origin: bottom;
  transform: translateY(calc(var(--_translateProgress) * 100%));
}

/* SETTING THIS IMAGE TO BE 1 */
div.image-container .image:first-of-type img {
  transform: scale(var(--_zoomProgress));
  transition: transform 0.75s 0.5s cubic-bezier(0.85, 0, 0.15, 1);
}

/* SETTING THIS IMAGE CONTAINER TO BE INVIEW BY DEFAULT  */

div.image-container .image:last-of-type {
  --_translateProgress: 0;
  bottom: 0;
  transform-origin: top;
  transform: translateY(calc(var(--_translateProgress) * -100%));
}

/* SETTING DIFFERENT ASPECT RATIOS ON THE IMAGE CONTAINERS */

div.image-container:nth-of-type(1) {
  aspect-ratio: 0.93;
}

div.image-container:nth-of-type(2) {
  aspect-ratio: 0.77;
}
div.image-container:nth-of-type(3) {
  aspect-ratio: 1.21;
}

/* WHEN THE CONTAINER IS HOVERED THE IMAGE-CONTAINER TRANSLATES INTO VIEW AND THE IMAGE IN IT SCALE UP */
div.image-container:hover .image:first-of-type {
  --_translateProgress: 0;
  --_zoomProgress: 1.1;
}

/* TRANSLATING THE OTHER IMAGE CONTAINER OUT OF VIEW AT THE SAME TIME SO THEY APPEAR LIKE THEY ARE ON A TRACK */
div.image-container:hover .image:last-of-type {
  --_translateProgress: 1;
}

/* MAKING THE IMAGE FILL THE CONTAINER */
div.image-container .image {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.75s 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

div.image-container .image img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  /* TURNING DOWN IMAGE BRIGHTNESS */
  filter: brightness(0.8);
}

section.founder-quote {
  font-size: 1.15rem;

  color: var(--clr-text-primary);
  /* SETTING THE SPACING BETWEEN THIS AND OTHER SECTIONS USING A CSS CUSTOM PROPERTY */
  margin: var(--section-spacing) 0;
}

section.founder-quote article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-column: 4 / span 2;
}

/* SETTING A GRAYSCALE & BRIGHTNESS EFFECT ON THE IMAGE */
section.large-image img {
  width: 100%;
  margin-bottom: 0;
  aspect-ratio: 3/2;
  filter: grayscale(50%) brightness(0.95);
  transition: filter 0.3s cubic-bezier(0.85, 0, 0.15, 1);
}

/* CHANGING THE GRYSACLE ON HOVER */
section.large-image img:hover {
  filter: grayscale(0) brightness(0.95);
}

section.quote {
  font-size: 1.15rem;
  font-weight: 300;
  color: var(--clr-text-primary);
  margin: var(--section-spacing) 0;
}

section.quote article {
  grid-column: 2 / span 2;
}

.cta {
  position: relative;
  display: block;
  font-size: 1rem;
}

/* SETTIN THE DISTANCE BETWEEN THE UNDERLINE(AFTER PSEUDO ELEMENT) AND THE BOTTOM*/
.cta--arrow {
  --_underline-offset: 0.25rem;
}

.cta--arrow .arrow-wrapper {
  display: inline-block;
  position: relative;
  height: 10px;
}

/* LAYERING THE TWO ARROWS ON TOP OF EACH OTHER */
.cta--arrow .arrow {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s cubic-bezier(0.85, 0, 0.15, 1);
}

/* SETTING THIS ARROW TO TRANSFORM FROM(TO IN THIS CASE) THE TOP RIGHT */
.cta--arrow .arrow:first-of-type {
  transform-origin: top right;
}

/* SETTING THIS ARROW TO TRANSFORM FROM THE BOTTOM LEFT */
.cta--arrow .arrow:last-of-type {
  transform: scale(0);
  transform-origin: bottom left;
}

/* SETTING THIS ARROW TO BE SCALED DOWN ON HOVER */
.cta--arrow:hover .arrow:first-of-type {
  transform: scale(0);
}

/* SETTING THIS ARROW TO BE SCALED UP ON HOVER */
.cta--arrow:hover .arrow:last-of-type {
  transform: scale(1);
}

/* UNDERLINES FOR THE CTA USING THE BEFORE AND AFTER PSEUDO ELEMENTS */
.cta--arrow::after {
  content: "";
  position: absolute;
  bottom: calc(-1 * var(--_underline-offset));
  left: 0;
  /* attributing for the space the arrow takes. */
  width: calc(100% + 10px);
  height: 1px;
  background-color: var(--clr-text-primary);
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.3s cubic-bezier(0.85, 0, 0.15, 1);
}

/* SCALED DOWN BY DEFAULT */
.cta--arrow::before {
  content: "";
  position: absolute;
  bottom: calc(-1 * var(--_underline-offset));
  left: 0;
  /* attributing for the space the arrow takes. */
  width: calc(100% + 10px);
  height: 1px;
  background-color: var(--clr-text-primary);
  transform: scaleX(0);
  transform-origin: left;
  /* TINY DELAY SO THERE IS SPACE BETWEEN THEIR MOVEMENTS */
  transition: transform 0.3s 50ms cubic-bezier(0.85, 0, 0.15, 1);
}

.cta--arrow:hover::after {
  transform: scaleX(0);
}

/* SCALE UP AND SCALE DOWN THE PREVIOUS ONE ON HOVER */
.cta--arrow:hover::before {
  transform: scaleX(1);
}

@media screen and (max-width: 768px) {
  section.quote article,
  section.founder-quote article {
    grid-column: 2 / calc(var(--_grid-size));
  }

  div.image-container {
    grid-column: span var(--_grid-size);
    aspect-ratio: 1/1;
  }

  .hero__content {
    position: relative;
    padding: 2rem;
  }

  .hero__content h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 390px) {
  .hero__content h1 {
    font-size: 2rem;
  }
}
